.container {
    display: flex;
    align-items: center;
    padding: 3% 2% 3% 4%;
    margin-bottom: 1%;
    border-bottom: thin solid #e3ecec;
}

.border__top {
    border-top: thin solid #e3ecec;
}

.icon {
    color: white;
    text-align: center;

    margin-right: 1%;
    font-size: 28px;
    width: 43px;
    height: 43px;
}


.NameMessage {
    color: #89bbd9;
}

.name {
    font-size: 14px;
}

.message {
    color: gray;
    font-size: 12px;
    white-space: pre;
}

.DateTime {
    margin-left: auto;
    font-size: 10px;
    padding-left: 3%;
    padding-top: 1%;
    color: #789cb2;
}

.time {
    text-align: right;
}


